# Ignore my direnv setup
.envrc
.direnv
.tool-versions

# Ignore generated Gorelease binaries
dist/

# Don't commit testing CSRs or intermediary JSON
testdata/*.json
testdata/*.csr
testdata/ca-key.pem
